<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>组件</title>
</head>

<body>
	<h1>组件</h1>
	<h2>什么是组件</h2>
	<p>组件就是封装可重用的代码。</p>
	<hr>

	<h2>使用组件</h2>
	<h3>注册</h3>
	<code>
		new Vue({
			el: '#some-element'
		});
		Vue.component('my-component', {
			// 选项
		});
	</code>

	<div id="example1">
		<my-component></my-component>
	</div>

	<h3>局部组件</h3>

	<code>
		// 局部组件
		var Child = {
		  template: '<div>A custom component!</div>'
		};
		var example2 = new Vue({
		  el: '#example2',
		  components: {
		    'my-component': Child
		  }
		});
	</code>

	<div id="example2">
		<my-component></my-component>
	</div>

	<h3>DOM模板解析说明</h3>

	<div id="example3"></div>

	<script type="text/x-template" id="my-row-template">
		<table>
			<tbody>
				<tr>AAAAA</tr>
			</tbody>
		</table>
	</script>

	<h3>data必须是函数</h3>
	<p>三个组件共享了同一个data</p>
	<div id="example4">
		<simple-counter></simple-counter>
		<simple-counter></simple-counter>
		<simple-counter></simple-counter>
	</div>

	<h3>构成组件</h3>
	<p>父子组件的关系可总结为：props down, events up。父组件通过 props 向下传递数据给子组件，子组件通过 events 给父组件发送消息。</p>
	<hr>

	<h2>Prop</h2>
	<h3>使用Pro传递数据</h3>
	<div id="example5">
		<child v-bind:message="msg" my-message="Hello!"></child>
	</div>

	<h3>camelCase vs kebab-case</h3>
	<h3>动态Prop</h3>

	<div id="example6">
		<input v-model="parentMsg">
		<child v-bind:my-message="parentMsg"></child>
	</div>

	<h3>字面量语法vs动态语法</h3>

	<h3>单向数据流</h3>
	<div id="example7">
		<child v-bind:message-obj="parentMsgObj"></child>
		<span>{{parentMsgObj.name}}</span>
	</div>

	<h3>Prop验证</h3>
	<hr>

	<h2>自定义事件</h2>

	<h3>使用v-on绑定自定义事件</h3>
	<div id="counter-event-example">
		<p>{{ total }}</p>
		<button-counter v-on:increment="incrementTotal"></button-counter>
		<button-counter v-on:increment="incrementTotal"></button-counter>
	</div>

	<h3>使用自定义事件的表单输入组件</h3>
	<div id="example8">
		<currency-input v-model="value"></currency-input>
	</div>
	<hr>

	<h2>使用Slot分发内容</h2>
	<h3>编译作用域</h3>
	<p>分发内容是在父组件作用域内编译。</p>
	<div id="example9">
		<child-component v-show="some"></child-component>
	</div>

	<h3>单个Slot</h3>
	<div id="example10">
		<h1>我是父组件的标题</h1>
		<my-component>
			<p>这是一些初始内容</p>
			<p>这是更多的初始内容</p>
		</my-component>
	</div>
	<script type="text/x-template" id="example10-child-component">
	<div>
		<h2>我是子组件的标题</h2>
		<slot>只有在没有要分发的内容时才会显示。</slot>
	</div>
	</script>
	
	<h3>具名Slot</h3>
	<div id="example11">
		<app-layout>
			<h1 slot="header">这里可能是一个页面标题</h1>
			<p>主要内容的一个段落。</p>
			<p>另一个主要段落。</p>
			<p slot="footer">这里有一些联系信息</p>
		</app-layout>
	</div>
	<script type="text/x-template" id="example11-child-component">
		<div class="container">
			<header>
				<slot name="header"></slot>
			</header>
			<main>
				<slot></slot>
			</main>
			<footer>
				<slot name="footer"></slot>
			</footer>
		</div>
		</script>
	<h3>作用域插槽</h3>
	<div id="example12">
		<div class="parent">
			<child>
				<template scope="test">
					<span>Hello from parent</span>
					<span>{{test.msg}}</span>
				</template>
			</child>
		</div>
	</div>
	<script type="text/x-template" id="example12-child-component">
		<div class="child">
			<slot msg="Hello from child"></slot>
		</div>
	</script>

	<div id="example13">
		<my-awesome-list :items="items">
			<template slot="item" scope="props">
				<li class="my-fancy-item">{{props.text}}</li>
			</template>
		</my-awesome-list>
	</div>
	<script type="text/x-template" id="example13-child-component">
	<ul>
		<slot name="item" v-for="item in items" :text="item.text"></slot>
	</ul>
	</script>
	<hr>

	<h2>动态组件</h2>
	<div id="example14">
		<div class="wrapper">
			<template v-for="item in list">
				<input type="radio" name="type" :value="item" v-model="currentView">
				<label>{{item}}</label>
			</template>
		</div>
		<keep-alive>
			<component v-bind:is="currentView"></component>
		</keep-alive>
	</div>
	<script type="text/x-template" id="example14-template1">
		<p>第一个home</p>
	</script>
	<script type="text/x-template" id="example14-template2">
		<p>第二个posts</p>
	</script>
	<script type="text/x-template" id="example14-template3">
		<p>第三个archive</p>
	</script>
	<h3>keep-alive</h3>
	<hr>

	<h2>杂项</h2>
	<h3>编写可复用组件</h3>

	<h3>子组件索引</h3>
	<h3>异步组件</h3>
	<h3>组件命名约定</h3>
	<p>当注册组件（或者 props）时，可以使用 kebab-case ，camelCase ，或 TitleCase 。Vue 不关心这个。</p>
	<p>在 HTML 模版中，请使用 kebab-case 形式</p>
	<h3>递归组件</h3>
	<h3>Circular References Between</h3>
	<div id="example16">
		<p>
			<span>{{ folder.name }}</span>
			<tree-folder-contents :children="folder.children"/>
		</p>
	</div>
	<ul>
		<li v-for="child in children">
			<tree-folder v-if="child.children" :folder="child"/>
			<span v-else>{{child.name}}</span>
		</li>
	</ul>
	<h3>Components</h3>
	<h3>内联模板</h3>
	<div id="example15">
		<my-component inline-template>
			<div>
				<p>These are compiled as the component's own template.</p>
				<p>Not parent's transclusion content.</p>
			</div>
		</my-component>
	</div>
	<h3>X-Templates</h3>
	<h3>使用v-once的低级静态组件</h3>
	<script src="../vue.js"></script>
	<script src="./index.js"></script>
</body>

</html>